.dropdown.dropdown.dropdown .ant-dropdown :where(.css-dev-only-do-not-override-1n7nwfa).ant-dropdown .ant-dropdown-menu, .dropdown.dropdown.dropdown :where(.css-dev-only-do-not-override-1n7nwfa).ant-dropdown-menu-submenu .ant-dropdown-menu {
    background-color: #3e3e5b;
}

.space.space.space .ant-btn-default {
    background-color: transparent;
    color: #c8c8db;
    margin: 0 15px;
}
.space.space.space :where(.css-dev-only-do-not-override-1n7nwfa).ant-dropdown .ant-dropdown-menu {
    background-color: #3e3e5b;
    color: #fff;
}
