.login {
    background-color: var(--violet);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    width: 100%;
}

.logo {
    background-color: white;
    width: 159.5px;
    height: 159.5px;
    border-radius: 100%;
}

.login h3 {
    margin: 15px 0;
}
.login form div {
    margin-bottom: 10px;
}
.login form div p {
    margin: 10px 0;
}
.login form .formBtn {
    margin: 30px 0 50px;
    display: flex;
    justify-content: center;
}
.login .forgotPassword h5 {
    text-align: center;
    color: var(--orange);
    cursor: pointer;
    text-decoration: underline;
}
.login .selectLanguage {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 4px 8px 8px;
    gap: 8px;

    position: absolute;
    width: 143px;
    height: 40px;
    right: 5%;
    top: 24px;

    border: 1px solid #C8C8DB;
    border-radius: 4px;
    color: #fff;
}
.login .resetPassword {
    text-align: center;
    position: relative;
    height: 100%;
}
.login .resetPassword .content .backToLogin {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}
.login .resetPassword .content .backToLogin h5 {
    text-decoration: underline;
    cursor: pointer;
    color: var(--orange);
}
.login .resetPassword .content h3 {
    margin-top: 20px;
}
.login .resetPassword .content p {
    margin-top: 20px;
}
.login .resetPassword .content form {
    margin-top: 20px;
    text-align: left;
}
.login .resetPassword .content .button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    background: #FF7506;
    border: 1px solid #FF7506;
    border-radius: 8px;
    color: #FFFFFF;
}
.btn:hover {
    background: #ff9036;
    border: 1px solid #ff9036;
}

.flag {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
}