.revenue-report-detail {
    position: fixed;
    left: 45px;
    width: 95%;
}
.revenue-report-detail .content {
    display: flex;
}
.revenue-report-detail .content > div:first-child {
    width: 32%;
}
.revenue-report-detail .content > div:first-child div {
    width: 400px;
    border-radius: 8px;
    background-color: var(--violetLight);
    margin: 0 15px 15px 0;
    padding: 15px;
}
.revenue-report-detail .content > div:first-child div h4 {
    color: var(--orange);
}
.revenue-report-detail .content > div:first-child div span {
    display: flex;
    margin: 5px 0;
}
.revenue-report-detail .content > div:first-child div span h5 {
    min-width: 210px;
}
.revenue-report-detail .content > div:first-child div span p {
    display: flex;
    align-items: center;
}
.revenue-report-detail .content > div:nth-child(2) {
    width: 61%;
}
.revenue-report-detail .content > div:nth-child(2) .dateAndSearch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.revenue-report-detail .content > div:nth-child(2) .dateAndSearch div {
    display: flex;
}
.revenue-report-detail .content > div:nth-child(2) .dateAndSearch div h5 {
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
