.dashboard {
    position: relative;
}
.dashboard .info {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.dashboard .info .avatar {
    margin: 10px 70px 0 0;
}
.dashboard .info .avatar h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.dashboard .info .infoUser {
    width: 60%;
    margin-left: 30px;
}
.dashboard .info .infoUser > div {
    padding: 7px;
    display: flex;
}
.dashboard .info .infoUser > div > div {
    margin-right: 25px;
}
.dashboard .info .infoUser > div > div p {
    margin-bottom: 7px;
}
.dashboard .button {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.customModal.customModal.customModal .ant-modal-content {
    background-color: #3e3e5b;
}
.customModal.customModal.customModal .ant-modal-title {
    text-align: center;
    color: var(--white);
    background-color: #3e3e5b;
    font-size: 23px;
}
.customModal.customModal.customModal .ant-modal-footer {
    display: flex;
    justify-content: center;
}
.customModal.customModal.customModal .ant-btn {
    width: 100px;
    border: 1.5px solid var(--orange);
    color: var(--orange);
    background-color: #3e3e5b;
}
.customModal.customModal.customModal .ant-btn-primary {
    background-color: var(--orange);
    color: var(--white);
}

