.cycle .container .content {
    width: 100%;
    height: 67vh;
    background-color: var(--violetLight);
    border-radius: 8px;
    padding: 20px;
}
.cycle .container .content h3 {
    margin: 10px 0;
}
.cycle .container .content .quarter {
    margin: 8px 0;
}
.cycle .container .content .quarter p {
    margin: 6px 25px;
}
.cycle .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
