.record .options {
    display: flex;
}
.record .options > div {
    display: flex;
    margin: 10px 15px;
}
.record .options > div p {
    line-height: 0;
}
.record .options .switch {
    margin-left: 50px;
}
.record .options .switch span {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.record .options .switch span svg {
    color: var(--white);
    font-size: 25px;
}
.record .options .switch .active-switch svg {
    color: #ff7506;
}
.record .gridViewRecord {
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    overflow: auto;
    width: 94%;
}
.record .gridViewRecord .recordNotFound {
    margin-top: 50px;
}
.record .card {
    border-radius: 8px;
    width: 255px;
    height: 302px;
    background-color: var(--violetLight);
    overflow: hidden;
    position: relative;
    margin: 0 15px 20px 0;
}
.record .card .img img {
    height: 130px;
    width: 100%;
}
.record .card .infoSong {
    padding: 10px;
    width: 100%;
}
.record .card .infoSong .info h4 {
    margin-bottom: -7px;
}
.record .card .infoSong .info span {
    display: flex;
    margin-bottom: -25px;
}
.record .card .infoSong .info span h5 {
    margin-right: 7px;
}
.record .card .infoSong .info span p {
    display: flex;
    align-items: center;
}
.record .card .infoSong .type {
    display: flex;
    margin-top: 21px;
}
.record .card .infoSong .type > div {
    margin-right: 6px;
    width: 65px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #999898;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.record .card .infoSong .type > div p {
    font-size: 11px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 65px;
}
.record .card .infoSong .type > div h5 {
    text-align: center;
    margin-top: -70px;
}
.record .card .edit {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.expiry-date {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.update-record .container {
    display: flex;
    margin: 12px 0;
    justify-content: center;
    width: 100%;
}
.update-record .container .info h4 {
    color: var(--orange);
}
.update-record .container .info > div:first-child {
    width: 400px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--violetLight);
    margin: 0 7px 14px 0;
}
.update-record .container .info > div:first-child div {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: -10px 0;
}
.update-record .container .info > div:first-child div p {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.update-record .container .info > div:last-child {
    background-color: var(--violetLight);
    border-radius: 8px;
    padding: 12px;
    width: 400px;
    height: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 7px 0 0;
}
.update-record .container .info > div:last-child > div {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: -6px 0;
}
.update-record .container .info > div:last-child > div p {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.update-record .container .updateInfo {
    width: 453px;
    height: 474px;
    border-radius: 8px;
    padding: 12px;
    margin-left: 7px;
    background-color: var(--violetLight);
}
.update-record .container .updateInfo h4 {
    color: var(--orange);
}
.update-record .button {
    display: flex;
    justify-content: center;
}
.update-record .button button {
    margin-right: 15px;
}

.select-wrap .ant-select-arrow {
    color: var(--orange) !important;
}

.select-wrap .ant-select-arrow .anticon-down svg {
    width: 13px !important;
    height: 13px !important;
    stroke: solid 10px var(--orange) !important;
}

.select-wrap .ant-select-selector {
    background-color: var(--violet) !important;
    border: 1px solid var(--orange) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.select-wrap .ant-select-selector .ant-select-selection-item {
    font-style: normal !important;
    line-height: 24px;
    letter-spacing: -0.002em;
    color: #f5f5ff !important;
}

.ant-select-dropdown-placement-bottomLeft {
    background-color: #3e3e5b !important;
}

.ant-select-item-option-content {
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.002em;
    color: #f5f5ff !important;
}

.ant-select-item-option-selected {
    background: var(--violetLight) !important;
}

.ant-select-item-option-active {
    background: var(--violetLight) !important;
}

