.select.select.select .ant-select-selector {
    background-color: var(--violetLight);
    height: 40px;
    border: 1px solid var(--orange);
}
.select.select.select .ant-select-arrow {
    top: 50%;
    right: 10px;
    color: var(--orange);
}
.select.select.select .ant-select-selection-item {
    color: var(--white);
    top: 15%;
}