.layout {
    display: flex;
    position: relative;
    background-color: var(--violet);
    color: #fff;
    width: 100%;
}

.layoutContentMain {
    padding: 0 2.5%;
    width: 100%;
    position: relative;
}

.layoutHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    color: #fff;
}

.layoutHeader .avatar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
