.download .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.download .content .intro {
    margin-bottom: 50px;
    text-align: center;
}
.download .content .intro span {
    color: var(--orange);
}
.download .content .download {
    display: flex;
}
.download .content .download > div {
    width: 230px;
    height: 250px;
    background-color: var(--violetLight);
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download .content .download > div .image {
    height: 75%;
    display: flex;
    align-items: center;
}
.download .content .download > div .image img {
    height: 80px;
    width: 120px;
}
.download-bg {
    position: absolute;
    top: -82px;
    left: -85px;
    z-index: 1000;
  }
