* {
  box-sizing: border-box;
}

:root {
  --violet: #1E1E2E;
  --violetDark: #020220;
  --violetLight: rgb(47,47,65, 0.7);
  --orange: #FF7506;
  --orangeLight: rgb(255, 117, 6, 0.5);
  --white: #C8C8DB;
}

html,
body {
  margin: 0;
  font-family: 'Montserrat Thin', sans-serif;
}

h2 {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFF9F4;
}
h3 {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  color: #FFF9F4;
  margin: 8px 0 12px 0;
}
h4 {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFF9F4;
  margin-bottom: 8px;
}
h5 {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFF9F4;
}
p {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #d1d1d1;
  vertical-align: middle;
}
textarea {
  border-radius: 8px;
  background: #33334D;
  border: none;
  padding: 10px;
  outline-style: none;
  color: var(--white);
  font-family: 'Montserrat Thin';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
